<p>
  <%=content_tag(:label, l(:label_cors_domain) + ":") %>
  <%=text_field_tag "settings[cors_domain]", @settings["cors_domain"], :size => 100 %><br/>
  (<%=l(:label_default)%>: 0)
  <br/>
  <%= l(:description_cors_domain) %>
</p>
<p>
  <%=content_tag(:label, l(:label_cors_headers) + ":") %>
  <%=text_field_tag "settings[cors_headers]", @settings["cors_headers"], :size => 100 %><br/>
  (<%=l(:label_default)%>: 0)
  <br/>
  <%= l(:description_cors_headers) %>
</p>

<p>
  <%=content_tag(:label, l(:label_cors_methods) + ":") %>
  <%=text_field_tag "settings[cors_methods]", @settings["cors_methods"], :size => 100 %><br/>
  (<%=l(:label_default)%>: 0)
  <br/>
  <%= l(:description_cors_methods) %>
</p>

<p>
  <%=content_tag(:label, l(:label_cors_maxage) + ":") %>
  <%=text_field_tag "settings[cors_maxage]", @settings["cors_maxage"], :size => 100 %><br/>
  (<%=l(:label_default)%>: 0)
  <br/>
  <%= l(:description_cors_maxage) %>
</p>

